body {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
}

.contenedor {
    background-color: #fff;
    padding: 32px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(239, 184, 16);
    width: 90%;
    max-width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 24px;
    font-size: 24px;
    color: #333;
}

h1 {
    font-size: 16px;
    color: #555;
    text-align: left;
    margin-bottom: 8px;
}

.cont, .boton {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

.boton {
    background-color: rgb(239, 184, 16);
    color: #fff;
    border: none;
    cursor: pointer;
}

.boton:hover {
    background-color: rgb(255, 191, 0);
}

p{
    margin: 16px 0 0;
    font-size: 1.2rem;
    text-align: center;
}

@media (max-width: 600px) {
    .contenedor {
        padding: 16px;
    }

    h2 {
        font-size: 20px;
    }

    h1 {
        font-size: 14px;
    }

    .cont, .boton {
        padding: 6px;
        font-size: 12px;
        margin-bottom: 8px;
    }
}
