body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fff;
    font-family: Arial, sans-serif;
    padding: 20px;
    box-sizing: border-box;
}

form {
    width: 100%;
    max-width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(239,184,16);
    text-align: center;
    box-sizing: border-box;
}

h1 {
    margin-top: 0;
    color: #333;
}


span {
    display: block;
    color: #666;
    font-size: 14px;
    margin: 20px 0;
}

.correo , .boton {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

.boton {
    background-color: rgb(255, 191, 0);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.boton:hover {
    background-color: rgb(255, 191, 0);
}

@media (max-width: 600px) {
    h1 {
        font-size: 18px;
    }

    span {
        font-size: 12px;
    }

    .correo, .boton {
        font-size: 12px;
        padding: 8px;
    }

    .boton {
        font-size: 14px;
    }
}
