* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color:black;
    color: #fff;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.logo {
    font-size: 1.5rem;
}

.menu {
    display: flex;
    align-items: center;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li a,.agend {
    margin-left: 10px;
    color: #fff;
    text-decoration: none;
    margin-right: 30px;
}

.cerrar{
    color: rgb(239,184,16);
    padding: 5px 15px;
    border-radius: 6px;

}







.contenedor {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.contenedor-fecha {
    width: 30%;
    margin-right: 20px;
    
}

.contenedor-fecha ul {
    list-style: none;
    padding: 0;
}

.contenedor-fecha li {
    margin-bottom: 10px;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #888888;
    border-radius: 5px;
    background-color: #d4d4d4;
    
}

.contenedor-fecha li:hover {
    background-color: #e0e0e0;
}

.agenda {
    width: 70%;
}

.agenda h2 {
    margin-top: 0;
}

#cantidadEspectadores {
    background-color: rgb(247, 199, 55);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    color: white;
}

.agenda-container {
    padding: 10px;
}

.cita {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid rgb(247, 199, 55);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hora {
    padding: 5px 10px;
    border-radius: 5px;
    color: black;;
}

.agendada {
    background-color: rgb(155, 155, 155);
    color: white;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    cursor: no-drop;
}

.agendar {
    background-color: rgb(239,184,16);
    color: white;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.boton-agendar{
    background-color: transparent;
    border: none;
}


#hl{
    display: none;
}

.contenedorInfoUsuario{
    display: none;
}
.container-detail{
    display: none;
}


.container-detail{
    background-color: #ffffff;
    color: white;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 10px;
    border: 1px solid rgb(239,184,16);
}

.container-detail h1{
    color: black;
    text-align: center;
}
.conte-datos label {
    margin-left: 10px;
    font-size: 14px;
    color: rgb(110, 110, 110);
}

.conte-datos input{
    width: calc(100% - 20px);
    padding: 5px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 5px;
    color: black;
    font-size: 18px;
    text-align: left;
}
.detail-date:hover{
    cursor: pointer;
}

