<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jardin's Barber -Admin</title>
    <link rel="shortcut icon" href="/PagInicio/ImagesPagInicio/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="/admin/styles/VistaAdmin.css">
</head>

<body>
    <header>
        <nav>
            <div class="logo">Jardin's Barber</div>
            <div class="menu">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="/admin/verAgenda">Agenda</a></li>
					<li><a href="/admin/barberos">Barberos</a></li>
                    <li><a href="/admin/datosAdmin">Perfil</a></li>
                    <li><a href="/borrarCookies" class="cerrar">Cerrar sesión</a></li>
                </ul>
            </div>
        </nav>
    </header>
    
    <section class="ini">
        <h1>Experimenta cortes de cabello y barba de calidad en Jardin's Barber</h1>
        <p>Bienvenido a Jardin's Barber! Nuestro salón ofrece cortes de cabello y barba de calidad para que luzcas siempre impecable.</p>
        <button class="boton" id="botonAgendar"><a href="/admin/verAgenda" id="linkAgendar">Agenda</a></button>
    </section><br><br><br>



    
    

    <div class="contai">
        <div class="card">"Cada corte es una obra de arte, deja tu marca con cada tijeretazo."</div>
        <div class="card">"El éxito en la barbería no se logra solo con habilidad, sino con pasión y perseverancia."</div>
        <div class="card">"En cada corte, demuestra tu creatividad y destreza. ¡Eres el artista de la barbería!"</div>
    </div>
    <br><br><br>
    <div class="img-conte">
        <div class="image-container">
            <img src="/PagInicio/ImagesPagInicio/berber.jpeg" alt="Herramientas de barbería">
        </div>
        <div class="img-cir">"En las manos de un barbero, los implementos se convierten en herramientas de transformación, esculpiendo estilo y confianza con cada movimiento."</div>
    </div>





	<footer id="pieDePagina">
        <div id="footerBloque1">
            <p>Cra. 4 #7 - 73, Jardín, Antioquia</p>
            <p>Cel: 322-4567856</p>
        </div><br>
        
        <div id="footerBloque2">
            <p>Jardín-Antioquia</p>
            <p>jardinsbarber@gmail.com</p>
            <p style="font-weight: bold;">Jardin's Barber</p>
            <div id="footerIcons">
                <p><i class="fa-brands fa-facebook"></i></p>
                <p><i class="fa-brands fa-instagram"></i></p>
            </div>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/18096fdcd6.js" crossorigin="anonymous"></script>
</body>
</html>